<p>
  footer works!
</p>

<!-- Footer -->
<footer id="footer" class="footer-light">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- Footer widget area 1 -->
          <div class="widget  widget-contact-us" style="background-image: url('images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat">
            <!-- Social icons -->
            <div class="social-icons social-icons-border float-left m-t-20">
              <ul>
                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <!-- end: Social icons -->
          </div>
          <!-- end: Footer widget area 1 -->
        </div>
        <div class="col-md-2">
          <!-- Footer widget area 2 -->
          <div class="widget">
            <h4>Quick LInks</h4>
            <ul class="list-icon list-icon-arrow">
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Shortcodes</a></li>
            </ul>
          </div>
          <!-- end: Footer widget area 2 -->
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-content">
    <div class="container">
      <div class="copyright-text text-center">&copy; 2017 Natasha Gaffer. All Rights Reserved.<a href="http://mischief-studios.com" target="_blank">Mischief Studios</a>
      </div>
    </div>
  </div>
</footer>
<!-- end: Footer -->
