<!-- Blog -->
<div id="blog" class="post-thumbnails">

  <!-- Post item-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-image">
        <a href="#">
          <img alt="" src="../../../assets/images/blog/12.jpg">
        </a>
        <span class="post-meta-category"><a href="">Lifestyle</a></span>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <h2><a href="#">Lighthouse, standard post with a single image
        </a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
  <!-- end: Post item-->

  <!-- Post item-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-slider">
        <div class="carousel dots-inside arrows-visible arrows-only" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
          <a href="../../../assets/images/blog/11.jpg" data-lightbox="gallery-item">
            <img alt="" src="../../../assets/images/blog/16.jpg">
          </a>
          <a href="../../../assets/images/blog/16.jpg" data-lightbox="gallery-item">
            <img alt="" src="../../../assets/images/blog/11.jpg">
          </a>
        </div>
        <span class="post-meta-category"><a href="">Technology</a></span>
      </div>

      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category">Lifestyle</span>
        <h2><a href="#">Simplicity, a post with slider gallery</a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
  <!-- end: Post item-->

  <!-- Post item Vimeo-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-video">
        <iframe src="https://player.vimeo.com/video/198559065?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <span class="post-meta-category"><a href="">Video</a></span>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <h2><a href="#">Vimeo Video, this is a example post with Vimeo video</a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
  <!-- end: Post item Vimeo-->

  <!-- Post item YouTube-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dA8Smj5tZOQ" frameborder="0" allowfullscreen></iframe>
        <span class="post-meta-category"><a href="">Video</a></span>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <h2><a href="#">YouTube Video, this is a example post with YouTube</a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More </a>

      </div>
    </div>
  </div>
  <!-- end: Post item YouTube-->

  <!-- Post item-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-image">
        <a href="#">
          <img alt="" src="../../../assets/images/blog/17.jpg">
        </a>
        <span class="post-meta-category"><a href="">Science</a></span>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <h2><a href="#">Lighthouse, standard post with a single image
        </a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
  <!-- end: Post item-->

  <!-- Post item HTML5 Audio-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-audio">
        <a href="#">
          <img alt="" src="../../../assets/images/blog/audio-bg.jpg">
        </a>
        <span class="post-meta-category"><a href="">Audio</a></span>
        <audio class="video-js vjs-default-skin" controls preload="false" data-setup="{}">
          <source src="audio/beautiful-optimist.mp3" type="audio/mp3" />
        </audio>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <h2><a href="#">Self Hosted HTML5 Audio (mp3) with image cover</a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
  <!-- end: Post item-->

  <!-- Post item quote-->
  <div class="post-item quote">
    <div class="post-item-wrap">
      <div class="post-quote-img">
        <a href="#">
          <img src="../../../assets/images/quote.png">
        </a>
        <span class="post-meta-category"><a href="">Quote</a></span>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

      </div>
    </div>
  </div>
  <!-- end: Post item-->

  <!-- Post item-->
  <div class="post-item border">
    <div class="post-item-wrap">
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <h2><a href="#">Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor</a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere luctus commodo dolor. Vivamus luctus commodo dolor porta pulvinar euismod ante feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
  <!-- end: Post item-->

  <!-- Post item SoundCloud-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-audio">
        <iframe width="100%" height="227" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/172245994&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
        <span class="post-meta-category"><a href="">Audio</a></span>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <h2><a href="#">SoundCloud Audio</a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
  <!-- Post item HTML5 Video-->
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-video">
        <video class="video-js" controls preload="false" poster="video/Water-Park/Water-Park.jpg">
          <source src="video/Water-Park/Water-Park.mp4" type="video/mp4" />
          <source src="video/Water-Park/Water-Park.webm" type="video/webm" />
        </video>
        <span class="post-meta-category"><a href="">Video</a></span>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
        <span class="post-meta-category"><a href=""><i class="fa fa-tag"></i>Lifestyle</a></span>
        <h2><a href="#">Self Hosted HTML5 Video, this is a example post with HTML5 Video</a></h2>
        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

      </div>
    </div>
  </div>
</div>
<!-- end: Blog -->
