<!-- Content -->
<section id="page-content" class="sidebar-right">
  <div class="container">
    <div class="row">
      <!-- post content -->
      <div class="content col-md-9">

        <app-feature></app-feature>
        <app-stories></app-stories>

        <!-- Pagination -->
        <div class="pagination pagination-simple">
          <ul>
            <li>
              <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a>
            </li>
            <li><a href="#">1</a> </li>
            <li><a href="#">2</a> </li>
            <li class="active"><a href="#">3</a> </li>
            <li><a href="#">4</a> </li>
            <li><a href="#">5</a> </li>
            <li>
              <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a>
            </li>
          </ul>
        </div>
        <!-- end: Pagination -->

      </div>
      <!-- end: post content -->

      <!-- Sidebar-->
      <div class="sidebar col-md-3">
        <div class="pinOnScroll">
          <!--Tabs with Posts-->
          <div class="widget ">
            <h4 class="widget-title">Recent Posts</h4>
            <div class="post-thumbnail-list">
              <div class="post-thumbnail-entry">
                <img alt="" src="images/blog/thumbnail/5.jpg">
                <div class="post-thumbnail-content">
                  <a href="#">Suspendisse consectetur fringilla luctus</a>
                  <span class="post-date"><i class="fa fa-clock-o"></i> 6m ago</span>
                  <span class="post-category"><i class="fa fa-tag"></i> Technology</span>
                </div>
              </div>
              <div class="post-thumbnail-entry">
                <img alt="" src="images/blog/thumbnail/6.jpg">
                <div class="post-thumbnail-content">
                  <a href="#">Consectetur adipiscing elit</a>
                  <span class="post-date"><i class="fa fa-clock-o"></i> 24h ago</span>
                  <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                </div>
              </div>
              <div class="post-thumbnail-entry">
                <img alt="" src="images/blog/thumbnail/7.jpg">
                <div class="post-thumbnail-content">
                  <a href="#">Lorem ipsum dolor sit amet</a>
                  <span class="post-date"><i class="fa fa-clock-o"></i> 11h ago</span>
                  <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                </div>
              </div>
            </div>
          </div>
          <!--End: Tabs with Posts-->

          <!-- Twitter widget -->
          <div class="widget widget-tweeter" data-username="envato" data-limit="2">
            <h4 class="widget-title">Recent Tweets</h4>
          </div>
          <!-- end: Twitter widget-->

          <!--widget tags -->
          <div class="widget  widget-tags">
            <h4 class="widget-title">Tags</h4>
            <div class="tags">
              <a href="#">Design</a>
              <a href="#">Portfolio</a>
              <a href="#">Digital</a>
              <a href="#">Branding</a>
              <a href="#">HTML</a>
              <a href="#">Clean</a>
              <a href="#">Peace</a>
              <a href="#">Love</a>
              <a href="#">CSS3</a>
              <a href="#">jQuery</a>
            </div>
          </div>
          <!--end: widget tags -->

        </div>
      </div>
      <!-- end: Sidebar-->
    </div>
  </div>
</section>
<!-- end: Content -->
