<!-- Content -->
<section id="page-content" class="sidebar-right">
  <div class="container">
    <div class="row">
      <!-- post content -->
      <div class="content col-md-9">

        <app-feature></app-feature>
        <app-stories></app-stories>

        <!-- Pagination -->
        <div class="pagination pagination-simple">
          <ul>
            <li>
              <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a>
            </li>
            <li><a href="#">1</a> </li>
            <li><a href="#">2</a> </li>
            <li class="active"><a href="#">3</a> </li>
            <li><a href="#">4</a> </li>
            <li><a href="#">5</a> </li>
            <li>
              <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a>
            </li>
          </ul>
        </div>
        <!-- end: Pagination -->

      </div>
      <!-- end: post content -->

      <!-- Sidebar-->
      <div class="sidebar col-md-3">
        <div class="pinOnScroll">

          <!--widget tags -->
          <div class="widget  widget-tags">
            <h4 class="widget-title">Tags</h4>
            <div class="tags">
              <a href="#">DIY</a>
              <a href="#">Design</a>
              <a href="#">Sustainable Living</a>
            </div>
          </div>
          <!--end: widget tags -->

        </div>
      </div>
      <!-- end: Sidebar-->
    </div>
  </div>
</section>
<!-- end: Content -->
